@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KaiserStore.Models.CategoryVM

@{
    ViewData["page"] = "category";
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSidebar.cshtml";
}

<div style="width: 100%; height: 90vh; display: flex; justify-content: center; align-items: center;">

    <form style="display: flex; flex-direction: column; align-items: center;" asp-action="Create" method="post">
        <h3 >Thêm danh mục</h3>
        <input style="padding: 10px; margin: 10px;" placeholder="ID" asp-for="id"/>
        <input style="padding: 10px; margin: 10px;" placeholder="Tên danh mục"  asp-for="namecategory"/>
        <input type="hidden" value="active" asp-for="status" />
        <button type="submit" style="padding: 10px; margin: 10px;" >Thêm danh mục</button>
        <span style="color: red;">@ViewData["Status"]</span>
    </form>
</div>

