@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/image/logo-header.svg" />
    <link rel="stylesheet" href="~/css/_LayoutSidebar.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <div class="menu-top">
                <a href="~/Admin/Home">
                    <img class="menu-logo" id="menu-logo" src="~/image/logo-header.svg">
                    <h3>Kaiser Store</h3>
                </a>

            </div>
            <div class="menu-mid">
                @if (ViewData["page"] == "home")
                {
                    <div class="side__link active">
                        <a href="~/admin/home">
                            <i class="fa-solid fa-house fa-xl" ></i>
                            <span id="title">Bảng điều khiển</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="side__link">
                        <a href="~/admin/home">
                            <i class="fa-solid fa-house fa-xl"></i>
                            <span id="title">Bảng điều khiển</span>
                        </a>
                    </div>
                }
                @if (ViewData["page"] == "category")
                {

                    <div class="side__link active">
                        <a href="~/admin/category">
                            <img id="home-img" src="~/image/danhmuc.svg" />
                            <span id="title">Danh mục</span>
                        </a>
                    </div>
                }
                else
                {

                    <div class="side__link">
                        <a href="~/admin/category">
                            <img id="home-img" src="~/image/danhmuc.svg" />
                            <span id="title">Danh mục</span>
                        </a>
                    </div>
                }
                @if (ViewData["page"] == "product")
                {

                    <div class="side__link active">
                        <a href="~/admin/product" id="menu-link">

                            <i class="fa-solid fa-shirt fa-xl"></i>
                            <span id="title">Sản phẩm</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="side__link">
                        <a href="~/admin/product" id="menu-link">

                            <i class="fa-solid fa-shirt fa-xl"></i>
                            <span id="title">Sản phẩm</span>
                        </a>
                    </div>
                }
                @if (ViewData["page"] == "listorder")
                {

                    <div class="side__link active">
                        <a href="~/Admin/ListOrder">

                            <img src="~/image/donhang.svg" />
                            <span id="title">Đơn hàng</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="side__link">
                        <a href="~/Admin/ListOrder">

                            <img src="~/image/donhang.svg" />
                            <span id="title">Đơn hàng</span>
                        </a>
                    </div>
                }
              


              
                @if (ViewData["page"] == "inventory")
                {

                    <div class="side__link active">
                        <a href="~/admin/inventory" >

                            <img src="~/image/khohang.svg" />
                            <span id="title">Kho hàng</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="side__link">
                        <a href="~/admin/inventory">

                            <img src="~/image/khohang.svg" />
                            <span id="title">Kho hàng</span>
                        </a>
                    </div>
                }
                @if (ViewData["page"] == "slide")
                {


                    <div class="side__link active">
                        <a href="~/Admin/Slide">

                            <i class="fa-solid fa-sliders"></i>
                            <span id="title">Slide</span>
                        </a>
                    </div>
                }
                else
                {

                    <div class="side__link">
                        <a href="~/Admin/Slide">

                            <i class="fa-solid fa-sliders"></i>
                            <span id="title">Slide</span>
                        </a>
                    </div>
                }
            
            </div>
            <div class="menu-bot">
                <div class="side__link">
                    <a asp-area="admin" asp-action="AdminLogOut">
                        <img src="~/image/close.svg" />
                        <span id="title">Đăng xuất</span>
                    </a>

                </div>
            </div>

        </div>
        <script src="~/js/Sidebar.js"></script>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
