
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleOrder.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="order-left">
            <span>Giỏ hàng của tôi</span>
        </div>
        <div class="order-right">
            <span>Thông tin đơn hàng</span>
        </div>




    </div>





</body>
</html>



