@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KaiserStore.Models.LoginModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
</head>
<body>
    <form class="loginForm" method="post" asp-area="Admin">
        <div class="loginTitle">ĐĂNG NHẬP TÀI KHOẢN ADMIN</div>
        <div class="user">
            <span id="user">Tên người dùng hoặc email</span>
            <input type="text" oninput="userType(this.value,'user')" value="" asp-for="user" />
        </div>
        <div class="pass">
            <span id="pass">Mật khẩu</span>
            <input type="password" oninput="userType(this.value,'pass')" value="" asp-for="pass" />
        </div>
        <div class="buttonOK">
            <button type="submit">Đăng nhập</button>
        </div>
        
    </form>
</body>
</html>
