@using KaiserStore.Models;
@{
    List<CategoryVM> categories = ViewData["category"] != null ? (List<CategoryVM>)ViewData["category"] : null;
}
@model KaiserStore.Models.ProductsVM;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["page"] = "product";
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
    <div style="width: 100%; height: 100vh; display: flex; align-items:center; justify-content: center;">
        <form style="display: flex; flex-direction: column; align-items: center;" class="productForm" enctype="multipart/form-data" method="post">
            <h3 style="margin-bottom: 10px"> THÊM SẢN PHẨM</h3>
            <input style="margin-bottom: 10px" placeholder="Tên sản phẩm" asp-for="producdName" />
            <input style="margin-bottom: 10px" placeholder="Giá sản phẩm" asp-for="producdPrice" />
            <select style="margin-bottom: 10px" asp-for="categoryId">
                @foreach (var item in categories)
                {
                    <option label="@item.namecategory">@item.id</option>

                }
            </select>
            <input asp-for="describe" />
            <input hidden value="active" asp-for="status" />
            <input style="margin-bottom: 10px" type="file" asp-for="file" />
            <button style="margin-bottom: 10px" type="submit">Upload</button>
           
        </form>
    </div>
    

   

   
</body>
</html>

