@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KaiserStore.Models.SizeItem

@{
    ViewData["page"] = "inventory";
    ViewData["Title"] = "Thêm size";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSidebar.cshtml";
}

<div style="width: 100%; height: 90vh; display: flex; justify-content: center; align-items: center;">

    <form style="display: flex; flex-direction: column; align-items: center;" asp-action="AddSize" method="post">
        <h3>Thêm Size</h3>
        <input asp-for="Id" hidden value="0" />
        <input  asp-for="ProductId" hidden value="@ViewData["id"]"/>
        <select style="padding: 10px; margin: 10px;" asp-for="Name">
            <option>XS</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
            <option>XXL</option>
        </select>
        <input asp-for="Quantity" hidden value="0" />
        <button type="submit" style="padding: 10px; margin: 10px;">Thêm Size</button>
        @if (ViewData["error"] != "")
        {
            <span style="margin-top: 10px; color: red">@ViewData["error"] </span>
        }
    </form>

</div>

